body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 238, 238);
}
#myH1 {
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    border: 5px solid;
    border-radius:  100px;
    background-color: rgb(187, 193, 250);
}

#display{
   font-size: 10rem;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   color: black;
   text-shadow: 2px 2px 2px black;
   margin-bottom: 25px;
   
}

#controls button{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 20px 20px;
    margin: 25px;
    min-width: 125px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
}

#startBtn {
    background-color: rgb(41, 197, 80);
    
}

#startBtn:hover {
    background-color: rgb(39, 177, 74);
    
}

#stopBtn {
    background-color: crimson;
}

#stopBtn:hover {
    background-color: rgb(177, 22, 53);
}

#resetBtn {
    background-color: rgb(140, 20, 220);
}

#resetBtn:hover {
    background-color: rgb(113, 25, 172);
}